@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    /* primary text */
    --very-dark-saturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /* neutral text */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /* background */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
   
  }
  
*, *::before, *::after {
    box-sizing: inherit;
    margin-top: auto;
    margin-bottom: auto;
    }

body {
 background: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: repeat-y;
  font-family: Kumbh Sans, sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

main {

}

.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 920px;
  height: 510px;
  margin: 0;
  border-radius: 25px;
 overflow: hidden;
  box-shadow: 0 40px 50px darkblue;;
}


.bgPatternPic {
  width: 1000px;
  display: block;
  position: relative;
  left: -630px;
  margin-right: -530px;
  top: -300px;
}

.womanOnlinePic {
  width: 450px;
  display: block;
  position: relative;
  left: -80px;
  top: -880px;
  margin-right: -300px;
}
.biggerContainer {
  margin: 0 240px 120px 240px;
}
.boxPic {
  position: relative;
  top: 400px;
  left: -95px;
  z-index: 1;
}

.rightContainer {
  margin: 70px 95px 90px 0;

}

.grid-container {
  display: grid;
  
}

.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5 {
  width: 350px;
  border-bottom: solid 1px lightGray;
}

.secondp{
  margin-bottom: 19px;
}

#numberOne, #numberTwo, #numberThree, #numberFour, #numberFive  {
  margin-bottom: 19px;
  display: none;
  color: gray;
}


#firstp, #firstp2, #firstp3, #firstp4, #firstp5 {
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 18px;
}


#firstPic, #secondPic, #thirdPic, #fourthPic, #fifthPic{
  position: relative;
}

#firstPic {
  top: 0;
  left: 90px;
}

#secondPic {
  top: 0;
  left: 93px;
}

#thirdPic {
  top: 0;
  left: 148px;
}

#fourthPic {
  top : 0;
  left: 145px;
}

#fifthPic {
  top: 0;
  left: 110px;
}

.rightContainer img:hover {
 cursor: pointer;
}

#firstp:hover, #firstp2:hover, #firstp3:hover, #firstp4:hover, #firstp5:hover {
 cursor: pointer;
  color: orange;
} 
.attribution {
  text-align: center;
}
@media (max-width: 500px) {
  
  
 .container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 328px;
  height: 536px;
  margin: 150px 23px 85px 23px;
  border-radius: 25px;
 overflow: visible;
  }
  
  
  .biggerContainer {
  margin: 0;
  }
.bgPatternPic {
  position: absolute;
  width: 240px;
  left: 75px;
  margin-right: 0;
  top: 15px;
}

.womanOnlinePic {
  width: 240px;
  position: absolute;
  left: 74px;
  top: 40px;

}
.boxPic {
  position: absolute;
  width: 100px;
  top: 108px;
  left: 67px;
  z-index: 1;
}
  
  h1 {
    text-align: center;
  }
  .rightContainer{
  margin: 50px 23.5px 50px 23.5px;
  }
 .grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5 {
   width: 100%;}
  
  
  #firstPic {
  top: 0;
  left: 35px;
}

#secondPic {
  top: 0;
  left: 38px;
}

#thirdPic {
  top: 0;
  left: 93px;
}

#fourthPic {
  top : 0;
  left: 92px;
}

#fifthPic {
  top: 0;
  left: 55px;
}
}
